<%= link_to note do%>
  <div class="container m-3 mx-auto">
    <div class="card">
      <div class="card-title border-bottom">
        <h1 class="text-center m-3"><%= note.title %>
        </h1>
      </div>
      <div class="card-body">
        <%= note.content %>
      </div>
    </div>
  </div>
<% end %>
