<p>Total duration : <%= distance_of_time_in_words(@total) %></p>
<% if @study_sessions.any? %>
  <%= render @study_sessions ,author: false%>
<% end %>
<%= link_to 'Create new Collection', new_collection_path %>
