<% if @study_sessions.any? %>
  <div class="card p-1 d-block d-md-flex flex-row no-wrap justify-content-between">
    <div class="justify-content-end d-flex bg-light sort btn-group">
      <%=  link_to 'Most recent', url_for( :recent => :true ),class:"btn btn-success"%>
      <%=  link_to 'Most ancient', url_for( :recent => :false ),class:"btn btn-success"%>
    </div>
    <p class="text-dark fw-bold d-block text-center mx-3 mt-1">
      Total sessions duration:
      <%= distance_of_time_in_words(@total) %></p>
  </div>
  <div class="scroll">
    <div class="accordion" id="accordionExample">
      <%= render @study_sessions ,author: false%>
    </div>
  <% end %>
