.navbar {
  color: var(--bs-blue);
  background: linear-gradient(#1c4c7f 45%, #2770a7 92%);
  flex-wrap: nowrap;
  padding: 1rem 1rem;

  .navbar-brand {
    color: white;
    font-size: 1rem;
  }

  button {
    color: white;

    &:hover {
      color: white;
    }
  }

  i {
    margin-right: 1rem;
    color: white;
  }
}

.alert,
.notice {
  position: absolute;
  color: white;
}

input.nav-link {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.icon {
  width: 3rem;
  height: 3rem;
}
