
.navbar{
  color: var(--bs-blue);
  background: linear-gradient(#1C4C7F 45%, #2770A7 92%);
  flex-wrap: nowrap;
  padding: 1rem 1rem;
  .navbar-brand{
    color: white;
    font-size: 1rem;
  }
  button{
    color: white;
    &:hover{
      color: white;
    }
  }
  i{
    margin-right: 1rem;
    color: white;
  }
}
