@import 'colors';

.fab-container {
  position: fixed;
  bottom: 3em;
  z-index: 999;
  cursor: pointer;
  right: 1em;

  &.new-page {
    bottom: 100px;
  }

  @media (min-width: 540px) {
    right: 2.5em;
  }
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: $dark-color;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.5;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  color: #fff;
}

.fab {
  width: 60px;
  height: 60px;
  background: $dark-color;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab-options:hover,
.fab:hover + .fab-options {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #dfeeea;
  color: $middle-color;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
