/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #2f5d62; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding:0;

    li {
      border:1px solid white;
      padding:1rem;

      a{
        color: white;
      }
    }
    
  }
}

/* When you mouse over the navigation links, change their color */

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar { padding-top: 15px; }
  .sidebar a { font-size: 18px; }
}

.toggle-sidebar {
  width: 35%;

  @media (min-width: 540px) {
    width: 17%;
  }
}
