.sidebar {
  height: 100%;
  width: 0;
  z-index: 999;
  left: 0;
  background-color: $middle-color;
  overflow-x: hidden;
  transition: 0.3s;
  height: 92.5vh;
  position: relative;
  top: 7.5vh;

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidebar { padding-top: 15px; }
  .sidebar a { font-size: 18px; }
}

.toggle-sidebar {
  width: 50%;

  @media (min-width: 540px) {
    width: 17%;
  }
}

.list-group {
  .list-group-item {
    background-color: $middle-color;
    font-size: 0.9em;
    padding: 1rem 1rem;
    color: white;

    @media (min-width: 540px) {
      font-size: 1em;
    }

    &:hover {
      background-color: $dark-color;
    }
  }
}
