<nav class="navbar d-flex">
  <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
  <a class="navbar-brand " href="#">STUDY BUDDY</a>
  <i class="fas fa-search"></i>
</nav>
