<nav class="nav-blue">
  <div class="navbar">
    <button class="btn btn-link d-md-none sidebar-toggler" type="button"><i class="fas fa-bars"></i></button>
    <a class="navbar-brand " href="#">STUDY BUDDY</a>
  </div>
</nav>
