<nav class="bg-color" >
  <div class="container-fluid d-flex flex-column p-0">
    <%= link_to root_path,class:"navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" do%>
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-book-reader"></i></div>
      <div class="sidebar-brand-text mx-3"></div>
    <% end %>
    <hr class="sidebar-divider my-0">
    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
  </div>
</nav>
