   <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 toggled" >
  <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-book-reader"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Study Buddy</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
      <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
      <li class="nav-item"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Sessions</span></a><a class="nav-link" href="table.html"><i class="fa fa-group"></i><span>Users</span></a><a class="nav-link" href="table.html"><i class="fa fa-th-large"></i><span>Groups</span></a></li>
      <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
      <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
      <li>
        <%= button_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
  </div>
</nav>
